<footer class ="footer">
	<small>
		<%= link_to "Crossfit West Nashville", root_path %>
		built by <%= link_to "Rian Rainey", "twitter.com/rianrainey" %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
</footer>