<footer class ="footer">
	<small>
		<%= link_to "Crossfit West Nashville", root_path %>
		built by <%= link_to "Rian Rainey", "http://www.twitter.com/rianrainey" %>
	</small>
	<nav>
		<ul>
		</ul>
	</nav>
</footer>
